.calendar-title
    align-items: center
    
.calendar
    display: flex
    align-items: center
    justify-content: center
    .day-names
        
    table
        min-width: 350px
        min-height: 250px
        height: 900px
        width: 900px
        tbody
            display: flex
            flex-direction: column
            min-height: 250px
        td
            border: 2px solid black
            padding: 5px
            display: block
            flex: 1
        tr
            display: flex
            flex-direction: row
            flex: 1
