.calendar-title
    

.calendar-hr
    margin-top: 50px

.calendar-header
    display: flex
    flex-direction: row
    justify-content: space-evenly
    .np
        font-size: 12px
        text-decoration: none
        text-transform: uppercase
        letter-spacing: 1px
        background: gray
        color: white
        padding: 5px
        box-shadow: 2.5px 2px 2.5px #acafad
    
.calendar
    display: flex
    align-items: center
    justify-content: center

    table
        min-width: 350px
        min-height: 250px
        width: 900px
        tbody
            display: flex
            flex-direction: column
            min-height: 250px
            border: 1.5px solid black
        td
            border: 1px solid black
            padding: 5px
            display: block
            flex: 1
        tr
            display: flex
            flex-direction: row
            flex: 1

