.footer
  height: 4rem
  display: flex
  flex-direction: row
  align-items: center
  background-color: gray
  padding: .5rem
  margin-top: 50px
  .header-link
    text-decoration: none
    color: white
    font: bold 1rem 
    margin: 10px
  .title
    color: white

.name
  font: bold 1rem
  
