.footer
    background-color: gray
    //outline: 0.5rem solid khaki

.name
    font: bold 1rem sans-serif
    display: flex
    justify-content: flex-start

.links
    font: bold 1rem sans-serif
    display: flex
    justify-content: flex-end


.footer-box
    margin-top: 50px

