.header
  height: 4rem
  display: flex
  flex-direction: row
  align-items: center
  background-color: rgb(89, 104, 220) 
  padding: .5rem
  .title
    height: 100%
    img
      height: 90%
      width: auto
  .header-link
    text-decoration: none
    color: white
    font: bold 1rem 
    margin: 10px
  .title-word
    color: white
    font-size: 35px
    margin-left: 10px
    letter-spacing: 1px
