.header
  height: 4rem
  display: flex
  flex-direction: row
  align-items: center
<<<<<<< HEAD
  background-color: navy
  padding: .5rem
=======
  background-color: gray
  padding: .3rem
>>>>>>> cc3d66c3dc6f2c0099cfa96dc23e06cc4027af5b
  .title
    height: 100%
    img
      height: 100%
      width: 100%
  .header-link
    text-decoration: none
    color: white
<<<<<<< HEAD
    font: bold 1rem sans-serif
    margin: 10px
=======
    margin: 10px
>>>>>>> cc3d66c3dc6f2c0099cfa96dc23e06cc4027af5b
