.values1
    display: flex
    justify-content: space-between

.efficiency    
  border: 0.5rem outset pink
  border-radius: 12px
  font: 1rem sans-serif
  margin: 2rem
  padding: 1rem
  outline-offset: 0.5rem

.confidentiality
  border: 0.5rem outset pink
  border-radius: 12px
  font: 1rem sans-serif
  margin: 2rem
  padding: 1rem
  outline-offset: 0.5rem

.adaptability
  border: 0.5rem outset pink
  border-radius: 12px
  font: 1rem sans-serif
  margin: 2rem
  padding: 1rem
  outline-offset: 0.5rem

.about-column  
    display: flex
    justify-content: space-between
    float: left 
    width: 50%
    //padding: 5px
    text-align: center

.about
  border: 0.5rem outset grey
  border-radius: 12px
  font: 1rem sans-serif
  margin: 2rem
  padding: 1rem
  outline-offset: 0.5rem

.services
  border: 0.5rem outset grey
  border-radius: 12px
  font: 1rem sans-serif
  margin: 2rem
  padding: 1rem
  outline-offset: 0.5rem

.home-content
    a
        border-style: solid
        border-color: black
        border-width: 5px
        padding: 5px
        font: 14px
        margin: 10px
        text-decoration: none
        text-transform: uppercase
        font: sans-serif
        background: gray

.home-testimonial
    text-align: center

/* Clear floats after the columns */
.row:after
    content: ""
    display: table
    clear: both


@media screen and (max-width: 600px)
    .values-column
        width: 100%
    .about-column
        width: 100%


.opening
    text-align: center
    font: bold 1rem sans-serif
    font: 20px