<div class="footer-box">
    <div class="header">
        <div class="title">Accuracy</div>
        <div class="spacer"></div>
        <nav class = "nav-right">
            <a class="header-link" href="/sitemap">Sitemap</a>
            <a class="header-link" href="/contactus">Contact Us</a>
            <a class="header-link" href="/terms">Terms of Service</a>
            <a class="header-link" href="/credits">Website Credits</a>
        </nav>
    </div>

</div>