<div class="footer">
    <div class="name">Accuracy</div>
    <div class="links">
        <a href="/sitemap">Sitemap</a>
        <a href="/contactus">Contact Us</a>
        <a href="/terms">Terms of Service</a>
        <a href="/credits">Website Credits</a>
</div>