<div class="footer">
    <p class="name">Accuracy</p>

    <a href="/sitemap">Sitemap</a>
    <a href="/contactus">Contact Us</a>
    <a href="/terms">Terms of Service</a>
    <a href="/credits">Website Credits</a>
</div>