<div class="footer">
    <div class="title">Accuracy Accounting</div>
    <div class="spacer"></div>
    <div class="nav-right">
        <a class="header-link" href="/sitemap" >Sitemap</a>
        <a class="header-link" href="/contactus">Contact Us</a>
        <a class="header-link" href="/terms" >Terms of Service</a>
         <a class="header-link" href="/privacy" >Privacy Policty</a>
        <a class="header-link" href="/credits">Website Credits</a>
    </div>
</div>