<div class="header">
    <p class="name">Accuracy</p>
    <div class="spacer"></div>

    <a class="headerlink" href="/">Home</a>

    <div class="dropdown">
        <button class="headerlink">About </button>
        <div class="dropdown-content">
            <ul>
                <li>
                    <a class="droplink" href="/company">Comany</a>
                </li>
                <li>
                    <a class="droplink" href="/team">Team</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="dropdown">
        <button class="headerlink">Services</button>
        <div class="dropdown-content">
            <ul>
                <li>
                    <a class="droplink" href="/sp">Services and Pricing</a>
                </li>
                <li>
                    <a class="droplink" href="/terms">Terms of Service</a>
                </li>
            </ul>
        </div>
    </div>

    <a class="headerlink" href="/calendar">Calendar</a>

    <div class="dropdown">
        <button class="headerlink">Contact</button>
        <div class="dropdown-content">
            <ul>
                <li>
                    <a class="droplink" href="/contactus">Contact Us</a>
                </li>
                <li>
                    <a class="droplink" href="/faq">FAQ</a>
                </li>
            </ul>
        </div>
    </div>

</div>