

<div class="header">
    <div class="title">
        <img src="images/titleLogo.svg" alt="">
    </div>
    <div class="spacer"></div>
    <nav class="nav-right">
        <a class="header-link" href="/">Home</a>
        <a class="header-link" href="/about">About</a>
        <a class="header-link" href="/sp">Services and Pricing</a>
        <a class="header-link" href="/calendar">Calendar</a>
        <a class="header-link" href="/faq">FAQ</a>
        <a class="header-link" href="/contactus">Customer Service Information</a>
    </nav>
</div>