<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/styles.min.css' />
  </head>
  <body>
    {{> header}}
    {{{body}}}
    {{>footer}}
    
  </body>
</html>
