<h1>About Us</h1>
<h2>What We're About</h2>

<div class="about-page">

<div class="about-us">
    <p>Accuracy CPA makes it so that you never have to settle with your accounting. We believe that a customer’s delicate financial information should never be left to an incompetent firm. Our firm strives to provide perfection in both our work and our service, so clients may trust their financials to our professionals.</p>
</div>

<h1>Company</h1>
<h2>Mission Statment</h2>
<div class= "mission-statement-text">
    <p>Accuracy is dedicated to providing efficient and productive accounting solutions to our customers' satisfaction.</p>
</div>


<h2>Company History</h2>
<div class="history">
    <p>Accuracy Accounting was started in August 2018 with the goal of alleviating the burden of finances of individuals and businesses. Since then, we have helped over 300 individuals and firms with accounting needs. This year, we won the Atlanta Start Up Award.</p>
</div>

<h2>Testimonials</h2>
<div class="testimonials">
    <p>“We wouldn’t be here without their support.” - Lead Networking Website, Garuba</p>
    <p>“Their personal and professional attention to our unique needs really helped us.” - Web Design Company, 360</p>
    <p>“With Accuracy, I can always expect fast and accurate accounting.” - Local Idiot, Gunraj</p>
</div>

</div>