<h1>About Us</h1>
<h2>What We're About</h2>
<div class="about-us">
    <p>Accuracy CPA makes it so that you never have to settle with your accounting. We believe that a customer’s delicate financial information should never be left to an incompetent firm. Our firm strives to provide perfection in both our work and our service, so clients may trust their financials to our professionals.</p>
    <p>Visit our Company page to view our Mission Statement</p>
</div>