<div class="sat">

<h1>About Us</h1>
<h2>What We're About</h2>

<div class="about-page">

    <div class="about-us">
        <p>Accuracy CPA makes it so that you never have to settle with your accounting. We believe that a customer’s delicate financial information should never be left to an incompetent firm. Our firm strives to provide perfection in both our work and our service, so clients may trust their financials to our professionals.</p>
    </div>

    <h1>Company</h1>
    <h2>Mission Statment</h2>

    <div class= "mission-statement-text">
        <p>Accuracy Accounting is based in Atlanta, Georgia and was formed in 2018 under the goal of providing a full spectrum of accounting services. Our mission is to provide quality accounting to our clients with our guarantee to an efficient, confidential, and flexible service. </p>
    </div>

    <h2>Company History</h2>
    <div class="history-statement">
        <ul class="history">
            <li>In July 2015, Nidhi Pai founded Accuracy Accounting in Atlanta, Georgia under the mission of creating an accounting firm that can offer unmatched efficiency, confidentiality, and adaptability. Our company started out relatively small with only a select team of talented CPAs, including Nidhi herself. </li>
            <li>
                In January 2016, our firm won the Atlanta business start up award for “Best Start Up Accounting Firm 2015” while also getting nominated for “Business with Best Service 2015”. To win an award like this after only five months since founding is an achievement that we wear with pride here at Accuracy Accounting. 
            </li>
            <li>
                Since our values lie in providing extraordinary service, we decided to give back to our community in the form of a partnership with Georgia Future Business Leaders of America (GA FBLA) in September 2016. We began to help fund the best and the brightest high school students in their business pursuits as a way to give back to our community. 
            </li>
            <li>
                As we continue to grow as a business, we also become increasingly interconnected with businesses in Atlanta. At the start of 2017, we were already helping a significant portion of businesses in our area with their accounting, and it has allowed us to place among the top ten Southeast accounting firms in July 2017.
            </li>
            <li>
                Our growth as a firm has prompted us to further our involvement in the community, as we would not be where we are without them. In November 2017, we decided to continue extending opportunities to high school students, and so we began to offer summer and winter internships.
            </li>
        </ul>
        
    </div>

    <h2>Team</h2>
    <div class="team-name">Nidhi Pai, CPA</div>
    <div class="team-title">Operations Director</div>
    <div class="team-des">Nidhi has been a certified public accountant for the past 14 years, working her way up to her current position as soon as she graduated at the top of her class from Carnegie Mellon in 2003. Nidhi took the CPA exams early in 2004, and she became certified later that year. She immediately began accounting work in Atlanta, networking in multiple companies and industries to gain experience for when she eventually founded Accuracy Accounting in 2015.</div>

    <div class="team-name">Matthew Woodward, CPA</div>
    <div class="team-title">Accounting Manager</div>
    <div class="team-des">Matthew Woodward is the newest member of our staff, and he has contributed much to our company since he joined in September 2017. After graduating from Georgia Tech in 2005, he acquired all of his exam certifications and was recognized by the National Society of Public Accountants in 2008. As our new accounting manager, he offers innovation in our management structure and a breath of fresh air. </div>

    <div class="team-name">Mark Wen, CPA</div>
    <div class="team-title">Senior Accountant</div>
    <div class="team-des">Mark Wen is a senior accountant who has remained with Accuracy Accounting since we were founded in 2015. He graduated from Rice University in June 1991 with a bachelor’s degree in accounting. After working in Houston for nearly 17 years, Mark moved to Atlanta where he attended Georgia Tech to get a masters in computer science. With his experience in the field of accounting and programming expertise, he has become our most reliable accountants.</div>

    <div class="team-name">Joshua Beladoff</div>
    <div class="team-title">Public Relations Director</div>
    <div class="team-des">Josh Beladoff is our public relations director with his responsibilities pertaining to advertising and networking. Josh acquired a dual degree in communications and marketing at Northwestern University in 2001. After graduation, he returned to his hometown Atlanta and began to work at the Coca-Cola Headquarters. In 2016, he decided to switch to working at his friend Nidhi’s company, and he has since done wonderful work connecting us to clients.</div>

    <div class="team-name">Ayush Nene, CPA</div>
    <div class="team-title">Board Executive</div>
    <div class="team-des">Ayush Nene is our executive who leads the board of directors here at Accuracy Accounting. Ayush graduated from the Switz university ETH Zurich with a degree in accounting in 1994. After graduation, he worked in Zürich for a well known firm until 2015. When he heard that his childhood friend Nidhi Pai opened her own accounting firm, Ayush immediately moved to America and became the most trusted advisor at Accuracy Accounting.</div>

    <div class="team-name">Aditya Munagapati</div>
    <div class="team-title">IT Department Head</div>
    <div class="team-des">Aditya is the head of the IT department here at Accuracy Accounting who has been with us since our firm’s inception. Aditya graduated from Georgia Tech in 2000 with an MBA in computer science, and he has worked with multiple companies as a part of their web teams. With over a decade of experience, he now leads our IT department and ensures top performance from our computer systems. </div>

    <div class="team-name">Gururaj Deshpande</div>
    <div class="team-title">IT Staff</div>
    <div class="team-des">Gururaj is a valued member of our IT department who works directly under Aditya Munagapati. Gururaj graduated from the University of Georgia in 2002 with a degree in computer science. After graduation, he moved from Athens to Atlanta where he worked for a multitude of companies before joining Accuracy Accounting in September 2016. He is a valued member of our IT department who dedicates himself to his duties.</div>

    <h2>Testimonials</h2>
    <div class="review">“We wouldn’t be here without their support.” - Lead Networking Website, <i>Garuba</i></div>
    <div class="review">“Their personal and professional attention to our circumstances really helped us.” - Web Design Company, <i>360</i></div>
    <div class="review">“With Accuracy, I can always expect fast and accurate accounting.” - Local Businessman, <i>Amy Tau</i></div>

</div>

</div>