<h1>About Us</h1>
<h2>What We're About</h2>
<div class="about-us">
    <p>Accuracy CPA makes it so that you never have to settle with your accounting. We believe that a customer’s delicate financial information should never be left to an incompetent firm. Our firm strives to provide perfection in both our work and our service, so clients may trust their financials to our professionals.</p>
    <p>Visit our Company page to view our Mission Statement</p>
</div>

<h1>Company</h1>
<h2>Mission Statment</h2>
    <div class="mission-statement">
        <div class= "mission-statement-text">
            <p>Accuracy is dedicated to providing efficient and productive accounting solutions to our customers' satisfaction</p>
        </div>
    </div>
<h2>Company History</h2>
    <div class="history-statement">
        <p>We got history (history)<br />
Got me feeling the nostalgia<br />
When you look at me (look at me)<br />
Thinking 'bout what could have happened<br />
Or what could've been<br />
Finally a face I know, ain't that a sight to see<br />
Take my time then take your clothes off<br />
One more time, maybe<br />
Actin' like you don't recall, it ain't impressin' me<br />
Didn't come to see your friends, I know you came for me<br />
Like your dress, but you fit better in my wrinkled tee<br />
We moved on to newer things, but we got history<br />
</p>
    </div>