<div class="sat">

<h1>About Us</h1>
<h2>What We're About</h2>

<div class="about-page">

    <div class="about-us">
        <p>Accuracy CPA makes it so that you never have to settle with your accounting. We believe that a customer’s delicate financial information should never be left to an incompetent firm. Our firm strives to provide perfection in both our work and our service, so clients may trust their financials to our professionals.</p>
    </div>

    <h1>Company</h1>
    <h2>Mission Statment</h2>

    <div class= "mission-statement-text">
        <p>Accuracy Accounting is based in Atlanta, Georgia and was formed in 2018 under the goal of providing a full spectrum of accounting services. Our mission is to provide quality accounting to our clients with our guarantee to an efficient, confidential, and flexible service. </p>
    </div>

    <h2>Company History</h2>
    <div class="history-statement">
        
    </div>

</div>

</div>