<div class="information">
    <h1>Contact Accuracy</h1>
    <div class="contact-info">
        <p>
            <strong>Address</strong>
            The address of the company'
        </p>

        <p>
            <strong>Phone Number</strong>
            The pn of the company
        </p>
        <p>
            <strong>Email Address</strong>
            The email address of the company
        </p>
    </div>
</div>

<form>
    <h2>Contact Us</h2>
    Name: <input type="text" name="name"><br>
    Email: <input type="text" name="email"><br>
    Phone: <input type="text" name="phone-number"><br>
    Message: <input type="text" name="message"><br>
    <input type="submit" value="Submit">
</form>