<div class="sat">

<h1>Website Credits</h1>

<h2>Images</h2>
<p>All the images were free to reuse.</p>

<h2>Terms of Service</h2>
<p>This Terms and conditions page was created at termsandconditionstemplate.com generator. If you have any queries regarding any of our terms, please contact us.</p>

<h2>Content</h2>
<p>All other content, images, and code was created by Nidhi Pai, Mark Wen, and Matthew Woodward.</p>

</div>