<div class="sat">

<h1>Website Credits</h1>

<h2>Images</h2>
<p>All the images were free to reuse.</p>
<p>Home Page Hero Image: <a href="https://www.atlantatimelapse.com/">https://www.atlantatimelapse.com/</a></p>
<p>Image on FAQ Page: <a href="http://nivoteam.info/businesses-buildings.html">http://nivoteam.info/businesses-buildings.html</a></p>

<h2>Terms of Service</h2>
<p>The Terms and conditions page was created at termsandconditionstemplate.com generator. If you have any queries regarding any of our terms, please contact us.</p>

<h2>Privacy Policy</h2>
<p>The privacy policy was generated at <a href="https://www.freeprivacypolicy.com/free-privacy-policy-generator.php">https://www.freeprivacypolicy.com/free-privacy-policy-generator.php</a>.</p>

<h2>Content</h2>
<p>All other content, images, and code was created by Nidhi Pai, Mark Wen, and Matthew Woodward.</p>

</div>