<div class="sat">

<h1>Frequently Asked Questions</h1>

<div class="faqdes">Here, you can find the most frequently asked questions. If your question is not answered by this page, please feel free to contact us.</div>
<div class="space"><br></div>

<div class="question"><strong>Q:</strong> How do I contact your office?</div>
<div class="answer"><strong>A:</strong> You can contact us <a href = "/contactus">here!</a></div>
<div class="space"><br></div>

<div class="question"><strong>Q:</strong> Where are your offices located?</div>
<div class="answer"><strong>A:</strong> Our offices are in Atlanta, Georgia, but we can do all services virtually.</div>
<div class="space"><br></div>

<div class="question"><strong>Q:</strong> What makes your accountants qualified to handle my financial needs?</div>
<div class="answer"><strong>A:</strong> All our employes have gone to University for a field of finance and have years of experience in the field. </div>
<div class="space"><br></div>

<div class="question"><strong>Q:</strong> What services do you provide?</div>
<div class="answer"><strong>A:</strong> You can find our full service list on the <a href="/sp">Services</a> page.</div>
<div class="space"><br></div>

<img class="filler" src="images/filler2.jpg" alt=""></img>

</div>