<div class="sat">

<h1>Frequently Asked Questions</h1>

<div class="faqdes">Here, you can find the most frequently asked questions. If your question is not answered by this page, please feel free to contact us.</div>
<div class="space"><br></div>

<div class="question"><strong>Q:</strong> How can I contact your office?</div>
<div class="answer"><strong>A:</strong> Our offices are open between 8am and 6pm, and we can be reached either by email or phone from here: <a href = "/contactus">Contact Us</a></div>
<div class="space"><br></div>

<div class="question"><strong>Q:</strong> Where are your offices located?</div>
<div class="answer"><strong>A:</strong> Our company was born in the wonderful city of Atlanta where we have since continued to operate on a daily basis. Many services can also be completed virtually.</div>
<div class="space"><br></div>

<div class="question"><strong>Q:</strong> What services do you provide?</div>
<div class="answer"><strong>A:</strong> Besides the typical services one may find at an accounting firm, we also offer other services, garnering to a multitude of circumstances. If you want to find out how Accuracy Accounting can service you, then please click <a href="/sp">here<a/>, and you will be redirected to a list of our services.</div>
<div class="space"><br></div>

<div class="question"><strong>Q:</strong> Do you extend your services to both businesses and individuals?</div>
<div class="answer"><strong>A:</strong> Yes, our CPAs are qualified to provide accounting services to businesses and individuals. We pride ourselves on being able to adapt to our clients’ circumstances, no matter where they may need our counseling. Please click the following link for a list of our offered services.</div>
<div class="space"><br></div>

<div class="question"><strong>Q:</strong> What makes your accountants qualified to handle my financial needs?</div>
<div class="answer"><strong>A:</strong> Our accountants are all graduates from top tier universities with years of experience in the accounting field. They have each scored adequately high on their CPA exams, as well as successfully completed our rigorous employee training. </div>
<div class="space"><br></div>

<br>

<img class="filler" src="images/filler2.jpg" alt=""></img>

</div>