<head>
    {{!-- <h1>{{title}}</h1> --}}
</head>

<div class="top-img"><img src="images/hero.gif" alt=""></div>


<body>
    <div class="opening">
        <p>Never Settle. Accuracy Accounting is a modern CPA firm with deep commitment to professionalism and a deeper commitment to perfection. Our professionals complement accounting skills with modern technology to guarantee accurate and speedy services. </p>
    </div>

    <hr>
    
    <div class="home-content">
        <div class="row">
            <div class="values1">
            <div class="efficiency">
                <h1>Effiency</h1>
                <p>Our firm is one of the leading firms in terms of efficiency. Our trained professionals work with modern technology to ensure that a fast and accurate response can be provided for your business.</p>
            </div>
            <div class="confidentiality">
                <h1>Confidentiality</h1>
                <p>Our firm maintains close confidentiality with our clients. Our staff can guarantee personal attention while retaining professionalism and a promise to keep shared information private. </p>
            </div>
            <div class="adaptability">
                <h1>Adaptability</h1>
                <p>Our firm is flexible to all manner of circumstances. Our personnel has been extensively trained to adapt to a multitude of circumstances and provide the best possible service in any situation. </p>
            </div>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="about-column">
                <div class="about">
                <h1>About</h1>
                <p>Accuracy CPA makes it so that you never have to settle with your accounting. We believe that a customer’s delicate financial information should never be left to an incompetent firm. Our firm strives to provide perfection in both our work and our service, so clients may trust their financials to our professionals. </p>
                <a href="/about">About Us</a>
                </div>
            </div>
            <div class="about-column">
                <div class="services">
                <h1>Services</h1>
                <p>For businesses, we offer services including, but not up to, bookkeeping, audits, strategic business planning, and cash flow management. While for individuals, we offer services including, but not up to, personal financial planning, tax services, and estate planning.</p>
                <a href="/sp">Services and Pricing</a>
                </div>
            </div>
        </div>

        <hr class="about-hr">

        <div class="home-testimonial">
            <p>
                “We wouldn’t be here without their support.” - Lead Networking Website, Garuba
                <a href="/testimonials">Read More Testimonials</a>
            </p>
            <a href="/about">Read More Testimonials</a>
        </div>
    </div>


</body>
