<h1>Sitemap</h1>
<br>

<p>Home: <a href="/index">https://accuracycpa.herokuapp.com/</a></p>
<p>About: <a href="/about">https://accuracycpa.herokuapp.com/about</a></p>
<p>Calendar: <a href="/calendar">https://accuracycpa.herokuapp.com/calendar</a></p>
<p>Contact Us: <a href="/contactus">https://accuracycpa.herokuapp.com/contactus</a></p>
<p>Credits: <a href="/credits">https://accuracycpa.herokuapp.com/credits</a></p>
<p>FAQ's: <a href="/faq">https://accuracycpa.herokuapp.com/faq</a></p>
<p>Services: <a href="/sp">https://accuracycpa.herokuapp.com/sp</a></p>
<p>Terms of Service: <a href="/terms">https://accuracycpa.herokuapp.com/terms</a></p>