<h1> Our Services </h1>

<h3>For businesses, we offer services including, but not up to, bookkeeping, audits, strategic business planning, and cash flow management. While for individuals, we offer services including, but not up to, personal financial planning, tax services, and estate planning.</h3>

<br>

<div class="services">

    <h1>Featured Services</h1>

    <div class="st">Bookkeeping</div>
    <p>Our bookkeeping department keeps track of all of your expenditures. We keep track of your employee salaries and can even  send out your employee's wages. Our accountants will also track your overhead costs and anything else that you spend money on. We will alert you if there will be any problems with in balances in the books before the problem occurs. </p>

    <div class="st">Audits</div>
    <p>If your company or person ever has to deal with the horror of an audit our accounting firm can handle it with ease. We will organize all your paperwork and insure your documents are in order for the IRS. We can also insist in finding legal counsel if necessary to protect you or your company. </p>

    <div class="st">Strategic Business Planning</div>
    <p>Our strategic business planners help small companies set up their corporations and prepare them for anything they may in counter financially as they develop into a major corporations. Our advisors will assist you throughout the way and help protect your assets from being in danger if your company has any problems arise. WE also will prepare you for major success and how to direct funds in order to get the most bang for your buck as you grow and expand.</p>

    <div class="st">Tax Services</div>
    <p>Our accountants can get your tax fillings done in non time. We use your files we already have within the firm and calculate your taxes. We will get you the most tax returns as we know how you or your business already functions and can find ways to save you or your company money. We also don't need to ask you a thousand questions like other pages as we already have all your information on file with the other services you already have.</p>

</div>