<div class="sat">

<div class="sp">
    <h1>Services and Pricing</h1>
    <div class="service-info">
        <h2>Bookkeeping</h2>
        <p>
            Our bookkeeping department keeps track of all of your expenditures. We keep track of your employee salaries and can even send out your employee's wages. Our accountants will also track your overhead costs and anything else that you spend money on. We will alert you if there will be any problems with in balances in the books before the problem occurs. 
        </p>

        <h2>Audits</h2>
        <p>
            If your company or person ever has to deal with the horror of an audit, our accounting firm can handle it with ease. We will organize all your paperwork and ensure your documents are in order for the IRS. We can also insist on finding legal counsel if necessary to protect you or your company. 
        </p>

        <h2>Strategic Business Planning</h2>
        <p>
            Our strategic business planners help small companies set up and prepare them for anything they may encounter financially as they develop into a major corporations. Our advisors will assist you through the way and help protect your assets from danger if your company has any problems arise. We also will prepare you for major success and advise you in directing funds in order to get the most bang for your buck as you grow and expand.
        </p>

        <h2>Tax Services</h2>
        <p>
            Our accountants can get your tax fillings done in no time. We use your files we already have within the firm and calculate your taxes. We will get you the most tax returns as we know how you or your business already functions. We can find ways to save you or your company money. We also don't need to ask you a repetitive questions as we already have all your information on file.
        </p>

    </div>
</div>

</div>